numpy=1.15
scipy=1
matplotlib=3.0
scikit-learn=0.20
seaborn=0.9
mkl=2019
geoana=0.0
empymod=1.10
h5py=2.9
pymatsolver=0.1
discretize=0.3
-e git:https://github.com/simpeg/simpeg.git@examples/PGI
-e git:https://github.com/simpeg/simpegEM1D@examples/PGI
-e git:https://github.com/simpeg/tle-magnetotelluric_inversion@master
